{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<select id="filter_users">
    <option value="default">Filtrer par utilisateur</option>
    <option value="">Tous</option>
    {% for user in users %}
        <option value="{{ user.username }}">{{ user.username }}</option>
    {% endfor %}
</select>

<div>
    {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <a href="{{ url('article_view', {'id': article.id}) }}">Voir</a>
        {% if app.user and (article.user == app.user or "ROLE_ADMIN" in app.user.roles) %}
            <a href="{{ url('article_edit', {'id': article.id}) }}">Modifier</a>
            <button class="delete" id="{{article.id}}">Supprimer</button>
        {% endif %}
        <div>Publié le {{ article.publishedAt | date("d F Y à H:i") }} par {{ article.user.username }}</div>
    {% endfor %}
</div>

<div id="modal" hidden>
    Voulez-vous supprimer cet article ?
    <button id="delete_yes">Oui</button>
    <button id="delete_no">Non</button>
</div>

<script>

const buttons = document.getElementsByClassName("delete");
let idDelete;

Array.from(buttons).map((button) =>
{
    button.addEventListener("click", () =>
    {
        document.getElementById("modal").hidden = false;
        idDelete = button.id;
    });
});

document.getElementById("delete_yes").addEventListener("click", () =>
{
    window.location.href = "/articles/delete/" + idDelete;
});

document.getElementById("delete_no").addEventListener("click", () =>
{
    document.getElementById("modal").hidden = true;
});

///////////////////////////////////////////

const selectUsers = document.getElementById("filter_users");

selectUsers.addEventListener("change", (e) =>
{
    if(e.target.value != "")
    {
        window.location.href = "/articles?user=" + e.target.value;
    }
    else
    {
        window.location.href = "{{ url('articles') }}";
    }
});

</script>

{% endblock %}
