{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<div>
    Filtrer par auteur
    <input type="text" id="filter_users" list="users" placeholder="Rechercher un utilisateur..." class="border p-2 rounded w-full" />

    <datalist id="users">
        {% for user in users %}
            <option value="{{ user.username }}"></option>
        {% endfor %}
    </datalist>

    <button id="reset">Réinitaliser</button>
</div>

<div>
    Filtrage par catégorie
    <select id="filter_cat", multiple="multiple">
        {% for cat in allCats %}
            <option value="{{ cat.name }}">{{ cat.name }}</option>
        {% endfor %}
    </select>
</div>

<button id="valid_filter_cat">Valider</button>

<div>
    {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <img src="{{ article.image }}" alt="{{ article.image }}" width="100">
        <a href="{{ url('article_view', {'id': article.id}) }}">Voir</a>
        {% if app.user and (article.user == app.user or "ROLE_ADMIN" in app.user.roles) %}
            <a href="{{ url('article_edit', {'id': article.id}) }}">Modifier</a>
            <button class="delete" id="{{article.id}}">Supprimer</button>
        {% endif %}
        <div>Publié le {{ article.publishedAt | date("d/m/Y à H:i") }} par {{ article.user.username }}</div>
    {% endfor %}
</div>

{% for i in 1..nbPages %}
    <button id="page_{{i}}" class="page">{{ i }}</button>
{% endfor %}

<div id="modal" hidden>
    Voulez-vous supprimer cet article ?
    <button id="delete_yes">Oui</button>
    <button id="delete_no">Non</button>
</div>

<script>

const buttons = document.getElementsByClassName("delete");
let idDelete;

Array.from(buttons).map((button) =>
{
    button.addEventListener("click", () =>
    {
        document.getElementById("modal").hidden = false;
        idDelete = button.id;
    });
});

document.getElementById("delete_yes").addEventListener("click", () =>
{
    window.location.href = "/articles/delete/" + idDelete;
});

document.getElementById("delete_no").addEventListener("click", () =>
{
    document.getElementById("modal").hidden = true;
});

///////////////////////////////////////////

const users =
[
    {% for user in users %}
        "{{ user.username }}",
    {% endfor %}
]

document.getElementById("filter_users").addEventListener("input", (e) =>
{
    users.map((user) =>
    {
        if(user === e.target.value)
        {
            window.location.href = "/articles?user=" + e.target.value;
        }
    });
});

///////////////////////////////////////////

let selectedValues = [];

document.getElementById("filter_cat").addEventListener("change", (e) =>
{
    selectedValues = Array.from(e.target.selectedOptions).map(option => option.value);
});

document.getElementById("reset").addEventListener("click", () =>
{
    window.location.href = "{{ url('articles') }}";
});

document.getElementById("valid_filter_cat").addEventListener("click", () =>
{
    //console.log(selectedValues);

    let params = "";

    if(selectedValues.length !== 0)
    {
        for(let i = 0 ; i < selectedValues.length ; i++)
        {
            params += selectedValues[i];

            if(i < selectedValues.length - 1)
            {
                params += "+";
            }
        }
    }
    
    //console.log(params);
    
    if(params !== "")
    {
        window.location.href = "/articles?cats=" + params;
    }

    else
    {
        window.location.href = "{{ url('articles') }}";
    }
});

///////////////////////////////////////////

let pages = document.getElementsByClassName("page");

Array.from(pages).map((page) =>
{
    page.addEventListener("click", () =>
    {
        const numPage = page.id.split("_")[1];

        let url = window.location.pathname + window.location.search;

        if(window.location.search === "")
        {
            url += "?page=";
        }
        else
        {
            url += "&page=";
        }

        if(window.location.search.indexOf("page=") === -1)
        {
            url += numPage;
        }
        else
        {
            url = window.location.search.substring(0, window.location.search.indexOf("page=") + 5) + numPage;
        }

        window.location.href = url;
    });
});

</script>

{% endblock %}
