{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<select id="filter_users">
    <option value="default">Filtrer par utilisateur</option>
    <option value="">Tous</option>
    {% for user in users %}
        <option value="{{ user.username }}">{{ user.username }}</option>
    {% endfor %}
</select>

<select id="filter_cat", multiple="multiple">
    {% for cat in allCats %}
        <option value="{{ cat.name }}">{{ cat.name }}</option>
    {% endfor %}
</select>

<button id="valid_filter_cat">Valider</button>

<div>
    {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <a href="{{ url('article_view', {'id': article.id}) }}">Voir</a>
        {% if app.user and (article.user == app.user or "ROLE_ADMIN" in app.user.roles) %}
            <a href="{{ url('article_edit', {'id': article.id}) }}">Modifier</a>
            <button class="delete" id="{{article.id}}">Supprimer</button>
        {% endif %}
        <div>Publié le {{ article.publishedAt | date("d/m/Y à H:i") }} par {{ article.user.username }}</div>
    {% endfor %}
</div>

{% for i in 1..nbPages %}
    <button id="page_{{i}}" class="page">{{ i }}</button>
{% endfor %}

<div id="modal" hidden>
    Voulez-vous supprimer cet article ?
    <button id="delete_yes">Oui</button>
    <button id="delete_no">Non</button>
</div>

<script>

const buttons = document.getElementsByClassName("delete");
let idDelete;

Array.from(buttons).map((button) =>
{
    button.addEventListener("click", () =>
    {
        document.getElementById("modal").hidden = false;
        idDelete = button.id;
    });
});

document.getElementById("delete_yes").addEventListener("click", () =>
{
    window.location.href = "/articles/delete/" + idDelete;
});

document.getElementById("delete_no").addEventListener("click", () =>
{
    document.getElementById("modal").hidden = true;
});

///////////////////////////////////////////

const selectUsers = document.getElementById("filter_users");

selectUsers.addEventListener("change", (e) =>
{
    if(e.target.value != "")
    {
        window.location.href = "/articles?user=" + e.target.value;
    }
    else
    {
        window.location.href = "{{ url('articles') }}";
    }
});

///////////////////////////////////////////

let selectedValues = [];

document.getElementById("filter_cat").addEventListener("change", (e) =>
{
    selectedValues = Array.from(e.target.selectedOptions).map(option => option.value);
});

document.getElementById("valid_filter_cat").addEventListener("click", () =>
{
    //console.log(selectedValues);

    let params = "";

    if(selectedValues.length !== 0)
    {
        for(let i = 0 ; i < selectedValues.length ; i++)
        {
            params += selectedValues[i];

            if(i < selectedValues.length - 1)
            {
                params += "+";
            }
        }
    }
    
    //console.log(params);
    
    if(params !== "")
    {
        window.location.href = "/articles?cats=" + params;
    }

    else
    {
        window.location.href = "{{ url('articles') }}";
    }
});

///////////////////////////////////////////

let pages = document.getElementsByClassName("page");

Array.from(pages).map((page) =>
{
    page.addEventListener("click", () =>
    {
        const numPage = page.id.split("_")[1];

        let url = window.location.pathname;

        if(window.location.search === "")
        {
            url += "?";
        }

        if(window.location.search.indexOf("page=") === -1)
        {
            url += window.location.search + "&page=" + numPage;
        }
        else
        {
            url += window.location.search.substring(0, window.location.search.indexOf("page=") + 5) + numPage;
        }

        window.location.href = url;
    });
});

</script>

{% endblock %}
