{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

<div>
    <h3>{{ article.title }}</h3>
    <p>{{ article.content | nl2br }}</p>
    {% if article.image %}
        <img src="{{article.image}}" alt="{{article.image}}" />
    {% endif %}
    <br>
    <br>
    <div>Publié le {{ article.publishedAt | date("d/m/Y à H:i") }} par {{ article.user.username }}</div>
    <div>
        Catégories :
        {% for cat in article.categories %}
            {{ cat.name }}
        {% endfor %}
    </div>
    <div>
        <img src="/images/like.png" alt="like" width="25">
        <span>{{ nbLikes }}</span>
        <img src="/images/dislike.png" alt="dislike" width="25">
        <span>{{ nbDislikes }}</span>
        {{ form_start(formLike) }}
        {{ form_row(formLike.like) }}
        {{ form_row(formLike.dislike) }}
        {{ form_end(formLike) }}
    </div>
    <div>
        <h4>Commentaires</h4>
        <div>
            {% for comment in article.comments %}
                <p>{{ comment.content }}</p>
                <div>(Publié le {{ comment.createdAt | date("d:m:Y") }} à {{ comment.createdAt | date("h:i") }} par {{ comment.author.username }})</div>
                <hr>
            {% endfor %}
        </div>
    </div>

    {{ form(formComment) }}
</div>

<a href="{{ url('articles') }}">Revenir à la liste des articles</a>

{% endblock %}
